// Add your codes here
@import "toolkit/tools";

@import "variables";

@import "core/functions";
@import "core/mixins";
@import "core/flex-grid";

@import "config/reset";
@import "config/sanitize";

@import "utilities/layout";
@import "utilities/transitions";
@import "utilities/animations";

@import "components/global";
@import "components/typography";
@import "components/media";
@import "components/buttons";
@import "components/hero";

@import "toolkit/swiper/sw";
@import "toolkit/jarallax/jarallax";

@import "utilities/gradients";
