@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');
// font-family: 'Kanit', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600');
// font-family: 'Prompt', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One:wght@400');
// font-family: 'Bakbak One', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Abel:400|Advent+Pro:600');
// font-family: 'Abel', sans-serif;
// font-family: 'Advent Pro', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
// font-family: 'Unica One', cursive;
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
// font-family: 'UnifrakturMaguntia', cursive;
@include font-face('Uni Sans', '/fonts/uni-sans/UniSansThin', normal, 400, woff2 woff);
@include font-face('Uni Sans Heavy', '/fonts/uni-sans/UniSansHeavy', normal, 800, woff2 woff);
@include font-face('Lighters', '/fonts/lighters/lighters-demo', normal, 400, woff2 woff);
