.hero {
	display: none;
	align-items: center;
	//padding: #{$pi}rem 0;
	position: relative;
	background: _slate(6);
	height: 80vh;
	overflow: hidden;
	&__wrapper {
		flex-wrap: wrap;
		align-items: center;
	}
	&__content {
		position: relative;
		width: 100%;
		h1 {
			font-family: $unifraktur;
			margin-left: $space-phi;
		}
	}
	&__image {
		position: relative;
		overflow: hidden;
		// clip-path: polygon(16% 0, 100% 16%, 95% 88%, 0% 100%);
		clip-path: polygon(0% 16%, 100% 0%, 100% 100%, 0 94%);
		> img {
			object-fit: cover;
		}
	}
	> img {
		max-width: 100%;
		width: 100%;
		object-fit: cover;

	}
}

.home-slider {
	position: relative;
	width: 100%;
	height: 80vh;
	@include loadify(0.5s, 1.25s);
	.sw-slide {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.parallax-bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 130%;
		height: 130%;
		-webkit-background-size: cover;
		background-size: 100%;
		background-position: 0 0;
		filter: blur(12px);
		animation-name: blur-fadeIn;
		animation-duration: 2s;
		animation-delay: 300ms;
		animation-timing-function: ease(out-sine);
		animation-fill-mode: both;
		animation-iteration-count: 1;
	}
}

@keyframes blur-fadeIn {
	0% {
		filter: blur(0);
		transform: scale3d(1, 1, 1);
	}
	100% {
		filter: blur(12px);
		transform: scale3d(1.01, 1.01, 2);
	}
}

.slide__box {
	padding: $space-e $space-phi;
	p {
		font-family: $uni-sans;
	}
}

.slide__image {
	position: relative;
	overflow: hidden;
	clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
	> img {
		position: absolute;
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: center;
		transform-style: preserve-3d;
	}
	.jarallax-img {
		object-position: 25% 50% !important;
	}
}
